main
{
    padding-bottom: 5000px;
}

h1
{
    text-align: center;
}

.container
{
    max-width: 800px;
    margin: 0 auto;
}

.scroll-container
{
    display: flex;
    flex-direction: row;
}

.scroll-container .scroll-box
{
    margin: 0 15px
}

.scroll-container .scroll-box h2
{
    text-align: center;
}

.scroll-container .scroll-area
{
    max-height: 400px;
    overflow-y: auto;
    text-align: justify;
}